@-moz-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    height: 100%;
}

body {
    color: #eee;
    background-color: #161616;

    width: 100%;
    height: 100%;
}

a {
    color: #eee;
}

a:hover {
    color: #eee;
}

a, img {
    border: none;
    outline: none;
}

#main {
    opacity: 1;

    -webkit-transition: fadeInFromNone 2s ease-out;
    -moz-transition: fadeInFromNone 2s ease-out;
    -o-transition: fadeInFromNone 2s ease-out;
    transition: fadeInFromNone 2s ease-out;
}

#welcome {
    width: 100%;
    min-height: 100%;
    text-align: center;

    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('images/cctv.jpg');
    color: #eee;
}

.card-body a {
    color: #f28903;
}

.card-body a:hover {
    color: #f28903;
}

.card-icon {
    display: block;
    margin: auto;
    text-align: center;
    width: 40%;
}

.btn-warning {
    margin-top: 1em;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    background-color: #eabd00;
}

.welcome-item {
    margin: auto;
    width: 70%;
}

.welcome-text {
    font-size: 1.5em;
}

.headline {
    font-weight: 300;
}

.card {
    background: #512483;
}

.spacer {
    margin-top: 16px;
    margin-right: 3.5%;
    margin-left: 3.5%;
}

.break {
    display: inline-block;
}

.w-80 {
    margin: auto;
}

@media (min-width: 992px) {
    #welcome {
        height: 100%;
    }

    .welcome-item {
        width: 70%;
    }

    .w-80 {
        width: 80%;
    }

    .social-icon {
        max-width: 200px;
        min-width: 50px;
    }
}

@media (max-width: 992px) {
    #welcome {
        height: auto;
    }

    .welcome-item {
        width: 100%;
    }

    .w-80 {
        width: 100%;
    }

    .social-icon {
        max-width: 25%;
    }
}