<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:site_name" content="Datalagringskalendern"/>
    <meta property="og:title" content="1 oktober trädde den nygamla datalagringslagen i kraft"/>
    <meta property="og:description" content="Idag införs en “ny” datalagringslag i Sverige. Den innebär att alla tele- och internetoperatörer i Sverige tvingas registrera och lagra information om sina kunders surfvanor, kommunikationsmönster och geografiska positioner. Detta gäller alla medborgare i Sverige, oavsett om de misstänks för något brott eller inte."/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://datalagring.piratpartiet.se/static/images/Standard_stående_medvittext.svg">
    <meta property="og:image" content="https://datalagring.piratpartiet.se/static/images/eu.png">
    <meta name="author" content="Piratpartiet">
    <meta name="Description" content="1 oktober träder den nygamla datalagringslagen i kraft. Piratpartiet räknar dagarna med 15 citat om datalagring.">
    <title>Datalagringskalendern</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ static_url('external/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ static_url('images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ static_url('main.css') }}" />
    <style>
        @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
    </style>
</head>
<body>
    <div id="main" class="container-fluid">
        <div class="row">
            <div class="col-sm text-center" style="margin-top: 1em;">
                <h1 class="headline">DATA<wbr/>LAGRINGS<wbr/>KALENDERN</h1>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 2em;">
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR0C1">
                            <h4>Dag 1
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= 15 %}
                            <img class="card-icon" src="{{ static_url('images/Standard_stående_medvittext.svg')}}" alt="EU-kommissionen" />
                            <br/>
                            <br/>
                            Idag är datalagringen tillbaka i Sverige
                            {% end %}
                        </a>
                    </div>
                    {% if day <= 15 %}
                    <div id="collapseR0C1" class="collapse">
                        <div class="card-body">
                            Idag införs en “ny” datalagringslag i Sverige. Den innebär att alla tele- och internetoperatörer i Sverige tvingas registrera och lagra information om sina kunders surfvanor, kommunikationsmönster och geografiska positioner. Detta gäller alla medborgare i Sverige, oavsett om de misstänks för något brott eller inte.
                            <br/>
                            <br/>
                            Detta är särskilt uppseendeväckande eftersom EU-domstolen - Sveriges högsta juridiska instans - två gånger slagit ner på generell datalagring. Först när man underkände EU-direktivet från mitten av 2000-talet och sedan igen 2016 när specifikt den svenska lagen om generell datalagring underkändes.
                            <br/>
                            <br/>
                            Varför underkändes lagen? Därför att EU-domstolen fann att den bröt mot stadgan om de grundläggande rättigheterna som EU-medborgare erhåller. Specifikt handlade det om rätten till privatliv och dataskydd. EU-domstolen menade att det inte är proportionerligt, nödvändigt eller i det allmännas intresse med den typ av massövervakning som generell datalagring innebär.
                            <br/>
                            <br/>
                            EU-domstolen var mycket tydlig med vad som krävdes för att en dylik lag skulle vara laglig att stifta inom EU. Det krävs att övervakningen riktas mot en begränsad mängd personer för vilka det finns skäl att tro att övervakningen kan leda till information nödvändig för att utreda allvarliga brott. Det här följer alltså inte regeringens förslag som röstades igenom av samtliga riksdagspartier utom Vänsterpartiet i juni i år.
                            <br/>
                            <br/>
                            Piratpartiet har varit aktiva motståndare till generell datalagring ända sedan partiet startades 2006, bara några månader innan det första direktivet blev verklighet. Sedan dess har det gått 13 år och vår övertygelse har bara stärkts av den empiriska erfarenhet av datalagring som vi och andra samlat på oss.
                            <br/>
                            <br/>
                            För att uppmärksamma den datalagring som nu återinförs i Sverige kommer vi publicera en serie inlägg om olika aspekter av datalagringslagen, dess historia och konsekvenser. Varje dag publicerar vi ett citat och en längre tillhörande text.
                        </div>
                    </div>
                    {% end %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 2em;">
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR1C1">
                            <h4>Dag 2
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= 14 %}
                            <img class="card-icon" src="{{ static_url('images/eu.png')}}" alt="EU-kommissionen" />
                            <br/>
                            <br/>
                            "Var och en har rätt till respekt för sitt privatliv och familjeliv, sin bostad och sina kommunikationer." - Artikel 7, Europeiska konventionen om de grundläggande rättigheterna
                            {% end %}
                        </a>
                    </div>
                    {% if day <= 14 %}
                    <div id="collapseR1C1" class="collapse">
                        <div class="card-body">
                            Tänk dig att någon står utanför ditt hus och antecknar vad du gör, följer efter dig när du är ute i samhället och rapporterar vidare vad du gör. Personen sitter bredvid dig när du pratar i telefon och spelar in dina samtal. Skulle det kännas som en överträdelse och kränkning av ditt privatliv? Blir det mindre kränkande bara för att det sker i vårt digitala samhälle, snarare än i det analoga?
                            <br/>
                            <br/>
                            Artikel 12 i FN:s deklaration om de mänskliga rättigheterna lyder: ”Ingen får utsättas för godtyckligt ingripande i fråga om privatliv, familj, hem eller korrespondens och inte heller för angrepp på sin heder eller sitt anseende. Var och en har rätt till lagens skydd mot sådana ingripanden och angrepp.” Denna artikel tillsammans med den citerade artikel 7 från EU:s stadga om de grundläggande rättigheterna slår utan tvivel fast att vi som medborgare har en rätt till ett skyddat privatliv.
                            <br/>
                            <br/>
                            Trots detta inför Sverige ytterligare en massövervakningslag den 1 oktober. Datalagringslagen är tillbaka, som en zombie som vägrar att sluta jaga oss, trots att den redan borde vara död.
                            <br/>
                            <br/>
                            Politikerna i de stora partierna struntar med andra ord utan vidare i vår mänskliga rättighet till privatliv.
                        </div>
                    </div>
                    {% end %}
                </div>
            </div>
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR1C2">
                            <h4>Dag 3
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= 13 %}
                            <img class="card-icon" src="{{ static_url('images/drawnmap.png') }}" alt="Karta" />
                            <br/>
                            <br/>
                            "En och en är dessa bitar av data mestadels oviktiga och harmlösa, men tillsammans ger de vad utredare kallar för en profil: en tydlig bild över en persons vanor och preferenser, och, ja – av hans eller hennes liv. Denna profil avslöjar när Spitz gick ner för gatan, när han tog ett tåg, när han var på ett flygplan. Den visar var han var i städerna han besökte. Den visar var han jobbade och var han sov, när han kunde nås via telefon och när han var otillgänglig. Den visar när han föredrog att prata i telefon och när han föredrog att skicka ett sms. Den visar vilka uteserveringar han tyckte om att besöka på sin lediga tid. Allt som allt avslöjar den ett helt liv." - Kai Biermann, journalist vid ZEIT
                            {% end %}
                        </a>
                    </div>
                    <div id="collapseR1C2" class="collapse">
                        {% if day <= 13 %}
                        <div class="card-body">
                            Datalagringslagen handlar om insamling av metadata. Metadata är information om information. Det handlar alltså inte om innehållet i dina telefonsamtal, utan om var du är när du ringer dem, med vem du pratar, hur länge, och så vidare. Det handlar inte om innehållet i dina chattkonversationer, utan om när du har dem, med vem, och så vidare.
                            <br/>
                            <br/>
                            Det kan verka som att det borde vara harmlös information att lämna över, men om man får möjlighet att pussla ihop flera bitar av metadata leder det till en enorm förmåga till kartläggning. Ofta är metadata till och med mer avslöjande än data, så länge man har möjligheten att samla ihop mycket av den för att analysera.
                            <br/>
                            <br/>
                            Med hjälp av metadata kan myndigheter profilera och skapa sig en tydlig bild av dig som person. Genom detta sätts vår rätt till integritet och privatliv ur spel. I orätta händer kan informationen få ödesdigra konsekvenser för oss.
                            <br/>
                            <br/>
                            Möjligheten att kartlägga är ju lika stor för andra aktörer som för våra myndigheter, om de får tag på informationen. Att kräva att internetleverantörer lagrar så mycket information om våra liv är att be om en katastrof i form av en stor dataläcka.
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR1C3">
                            <h4>Dag 4
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= 12 %}
                            <img class="card-icon" src="{{ static_url('images/sliceoflife.jpg')}}" alt="Metadata" />
                            <br/>
                            "Metadata berättar definitivt allt om någons liv. Om du har tillräckligt mycket metadata behöver du egentligen inte innehållet. Det är liksom lite pinsamt hur förutsägbara vi är som människor." - Stewart Baker, tidigare chefsjurist på NSA
                            {% end %}
                        </a>
                    </div>
                    <div id="collapseR1C3" class="collapse">
                        {% if day <= 12 %}
                        <div class="card-body">
                            Vi är vanemänniskor och tänker inte alltid på vad vi gör dagligen. Varje gång vi använder oss av teknik som kan lagra information om var vi är, vad vi gör och när vi gör det, så skickas den informationen också vidare och läggs till din personliga profil. Utifrån uppgifter om dig och dina rörelsemönster, telefonsamtal, sms, elektronisk aktivitet, kan man skapa ett ”sociogram” som även kartlägger din umgängeskrets.
                            <br/>
                            <br/>
                            Att samla in metadata om alla medborgare, som datalagringslagen gör, är ett grovt ingrepp i vår rätt till privatliv. Det gör våra livsvanor transparenta för människor som inte har några skäl att kunna veta allt om oss och våra liv.
                            <br/>
                            <br/>
                            Dessa uppgifter ska lagras från 6 månader upp till två år. Med tanke på hur vårt samhälle ser ut idag, när mer eller mindre alla är uppkopplade dygnet runt, blir det en väsentlig samling data. Tänk dig att någon under den här tiden har tillgång till ditt liv för att obehindrat dra egna slutsatser om vem du är. Det är den verklighet vi fortsätter gå mot med datalagringslagen.
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 2em;">
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR2C1">
                            <h4>Dag 5
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= 11 %}
                            <img class="card-icon" src="{{ static_url('images/office.jpg') }}" alt="Kontorsarbete" />
                            <br/>
                            <br/>
                            "[government officials were unable to cite] a single instance in which analysis of the NSA’s bulk collection metadata collection actually stopped an imminent attack, or otherwise aided the Government in achieving any objective that was time-sensitive in nature." - Richard Leon, federal domare i USA
                            {% end %}
                        </a>
                    </div>
                    <div id="collapseR2C1" class="collapse">
                        {% if day <= 11 %}
                        <div class="card-body">
                            Datalagringsdirektivet kom till i syfte att arbeta proaktivt för att bekämpa terrorism. I teorin skulle det vara en effektiv metod för att kunna förebygga grova brott innan de begåtts.
                            <br/>
                            <br/>
                            Men vad vi sett under det dryga decennium vi kunnat studera datalagring i västvärlden, är att det inte fungerar så. Den amerikanska regeringens insamling har varit mest långtgående, och där var regeringen tvungna att erkänna att den inte varit viktig för att stoppa någon attack eller hjälpa i något akut ärende. Ingen terrorattack har kunnat hindras någon annanstans heller. Datalagring är helt enkelt inte effektivt för att förebygga eller utreda terrorbrott.
                            <br/>
                            <br/>
                            Det har tvärtom visats sig att metadata används för att jaga exempelvis fildelare, snarare än terrorister. I Tyskland publicerades en studie 2011 som tydligt visar att andelen uppklarade allvarliga brott till och med sjunkit efter det att datalagringsdirektivet infördes. Antalet registrerade internet-relaterade brott ökade från 2008 till 2009, men andelen uppklarade brott av den typen sjönk.
                            <br/>
                            <br/>
                            Studien belyser även det faktum att direktivet kan få negativa effekter när det gäller brottsbekämpande åtgärder generellt eftersom fler och fler använder sig av internetcaféer, VPN eller kommunicerar på icke elektronisk väg.
                            <br/>
                            <br/>
                            <a href="http://www.vorratsdatenspeicherung.de/content/view/426/79/lang,en/">Studie</a>
                            <br/>
                            <br/>
                            Ingen av de studier som publicerats om datalagring har kunnat visa på metodens generella effektivitet. I underlaget för lagen som träder i kraft den 1 oktober tar man stöd i anekdoter från Polisen och en studie som EU-kommissionen gjorde 2005 - innan datalagringsdirektivet trätt i kraft! Man har alltså inte lyckats hitta något bättre stöd för den här lagen som man så desperat vill tvinga igenom än så. Bristen på evidens är talande.
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR2C2">
                            <h4>Dag 6
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= 10 %}
                            <img class="card-icon" src="{{ static_url('images/database.jpg') }}" alt="Databas" />
                            <br/>
                            <br/>
                            "Obligatorisk datalagring genomförd av tredjeparter - en återkommande del av många staters övervakningsprogram - där regeringar kräver att telefonbolag och internettjänstleverantörer lagrar metadata om sina kunders kommunikation och rörelsemönster för polisiärt bruk och för underrättelseverksamhet framstår varken som nödvändiga eller proportionerliga." - Flavia Pansieri, Deputy High Commissioner for Human Rights, FN
                            {% end %}
                        </a>
                    </div>
                    <div id="collapseR2C2" class="collapse">
                        {% if day <= 10 %}
                        <div class="card-body">
                            Datalagring är ineffektiv brottsbekämpning. Det finns inga underlag för att den typen av tillgång till information om din och min digitala närvaro underlättar polisens arbete i större utsträckning. Därför är det inte heller proportionerligt eller nödvändigt för brottsbekämpningen att fortsätta med den typen av kontinuerliga digitala intrång.
                            <br/>
                            <br/>
                            Datainspektionen uttalar sig efter en granskning av det nya direktivet: ”... anser att utredningens lagförslag även fortsättningsvis innebär en generell lagringsskyldighet i strid med Tele2-domen och avstyrker därför förslaget. Datainspektionen efterfrågar en närmare analys av hur en riktad lagring skulle kunna utformas.”
                            EU-kommissionen säger något liknande i sin utvärdering av datalagring från 2011: ”Vissa experter och icke-statliga organisationer uppgav att även om ett system för … datalagring hade liten inverkan på fundamentala rättigheter, en risk finns att känslig data sparas … sociala kontakter, affärskontakter, organisationer och i vissa fall känsliga, hälsorelaterade kontakter såsom läkare, advokater, arbetarråd, psykologer, hjälplinjer etc.”
                            <br/>
                            <br/>
                            <a href="https://www.datainspektionen.se/globalassets/dokument/remissvar/2018/2018-01-31-yttrande-datalagring.pdf">Datainspektionen</a>
                            <br/>
                            <a href="https://ec.europa.eu/home-affairs/sites/homeaffairs/files/what-we-do/policies/police-cooperation/data-retention/docs/drd_task_2_report_final_en.pdf">EU-kommissionen rapport</a>
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR2C3">
                            <h4>Dag 7
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= 9 %}
                            <img class="card-icon" src="{{ static_url('images/eucourt.jpg') }}" alt="EU" />
                            <br/>
                            <br/>
                            "Det är EU-rätten som sätter ramarna för den nationella lagstiftningen om datalagring för brottsbekämpande ändamål" - Fredrik Lundh Sammeli, riksdagsledamot Socialdemokraterna
                            {% end %}
                        </a>
                    </div>
                    <div id="collapseR2C3" class="collapse">
                        {% if day <= 9 %}
                        <div class="card-body">
                            Den svenska lagstiftningen om datalagring som träder i kraft den 1 oktober följer inte EU-rätten. Den tidigare datalagringslagen upphävdes 2016 av EU-domstolen, för att den innebar ingrepp i våra grundläggande mänskliga rättigheter. Trots det väljer riksdagen med Socialdemokraterna i spetsen att driva igenom lagen igen, tre år efter EU:s rekommendationer.
                            <br/>
                            <br/>
                            Man låtsas som att man gjort relevanta förändringar i lagstiftningen, men har fokuserat på att ha olika lagringstider för olika typer av uppgifter, trots att EU-domstolen tydliggjorde att det är vilka personer som utsätts för övervakningen som är relevant.
                            <br/>
                            <br/>
                            Domstolen säger att lagringen måste riktas mot ”en personkrets vars uppgifter kan avslöja en […] koppling till grov brottslighet”. Det gör inte den nya datalagringslagen.
                            Fredrik Lundh Sammeli (S) har helt rätt när han i riksdagens debatt om datalagringslagen säger att det är EU-rätten som sätter ramarna för hur svensk brottsbekämpning får gå till. Och den EU-rätten förbjuder den datalagringslag som Sammeli själv var med och röstade igenom i år.
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 2em;">
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR3C1">
                            <h4>Dag 8
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= 8 %}
                            <img class="card-icon" src="{{ static_url('images/global.jpg') }}" alt="Globalt samhälle" />
                            "We kill people based on metadata" - Michael Hayden, tidigare chef för NSA och CIA
                            {% end %}
                        </a>
                    </div>
                    <div id="collapseR3C1" class="collapse">
                        {% if day <= 8 %}
                        <div class="card-body">
                            Metadata från NSA används för att försöka säkerställa ”mål” som ska träffas av amerikanska drönare. Detta har i många fall lett till att oskyldiga civila fått sätta livet till. Tekniken som NSA använder spårar mobiltelefoner och SIM-kort. Det finns inga garantier att missilen träffar avsett ”mål”, utan enbart den elektroniska enheten som spårats och identifierats som måltavla för en drönarattack.
                            <br/>
                            <br/>
                            De använder opålitliga metoder för att lokalisera terrorister, i det här fallet metadata och geolokalisering, vilket har visat sig vara ineffektivt. ”Målet” kan byta mobiltelefon eller sätta SIM-kortet i en annan enhet. Att kriga i blindo och döda civila är ett straffbart brott mot krigets lagar, ändå är det ingen som ställs till svars.
                            <br/>
                            <br/>
                            Att CIA dödar människor baserat på metadata säger oss att informationen är relevant och inte något vi borde lämna ifrån oss utan protester. Att det sen leder till att oskyldiga får sätta livet till visar oss hur ineffektiv tekniken är i terrorbekämpningens tjänst.
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR3C2">
                            <h4>Dag 9
                                <br/>
                                <br/>

                            </h4>
                            {% if day <= 7 %}
                            <img class="card-icon" src="{{ static_url('images/bomb.jpg') }}" alt="En katastrof som väntar på att hända" />
                            "Saving [data] is dangerous because many people want it. Of course companies want it; that's why they collect it in the first place. But governments want it, too. In the United States, the National Security Agency and FBI use secret deals, coercion, threats and legal compulsion to get at the data. Foreign governments just come in and steal it. When a company with personal data goes bankrupt, it's one of the assets that gets sold." - Bruce Schneier, expert på informationssäkerhet
                            {% end %}
                        </a>
                    </div>
                    <div id="collapseR3C2" class="collapse">
                        {% if day <= 7 %}
                        <div class="card-body">
                            I det s.k. Tele2-målet framgår att operatören mottagit tusentals förfrågningar om uppgifter från deras datalagring. Det är en tydlig indikation på att datalagring aldrig handlat om att enbart använda bekämpa grov brottslighet eller terrorism. Internetleverantören Bahnhof har kunnat visa statistik över utlämning av data till Polisen och fildelning var den största kategorin ärenden i statistiken.
                            <br/>
                            <br/>
                            Övervakning av den här typen är ett hot mot vår demokrati i allmänhet och vår personliga integritet i synnerhet. Det finns inga garantier för att myndigheter alltid fattar rätt beslut eller alltid hanterar den data de samlat in på ett säkert sätt.
                            <br/>
                            <br/>
                            Skulle uppgifterna läcka så att de hamnar hos företag eller nätbaserad verksamhet är risken stor att de används i vinstsyfte eller för cyberbrott. Det finns även en risk att journalistiska källor avslöjas vilket strider mot pressfriheten. Inga undantag görs, även de som är belagda med tystnadsplikt övervakas, och det som sägs under sekretess kan läcka ut som en konsekvens av datalagringen.
                            <br/>
                            <br/>
                            Information om människor ska inte samlas in utan goda skäl, eftersom den kan användas av så många aktörer på så många sätt. Datalagringen är en insamling av information som skapar större risker för dataläckage än de vinster i form av brottsbekämpning den skapar.
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR3C3">
                            <h4>Dag 10
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= 6 %}
                            <img class="card-icon" src="{{ static_url('images/court.jpg') }}" alt="Rättsäkerhet" />
                            "Massinsamling av kommunikationsdata utan föregående misstanke är i grunden emot rättssäkerhet, går emot de grundläggande principerna om dataskydd och är ineffektivt. [Europarådets m]edlemsländer bör inte hänge sig åt det eller ålägga tredje parter obligatorisk datalagring. /.../ Medlemsländer bör sluta förlita sig på sådana privata aktörer som kontrollerar internet och det större digitala ekosystemet att införa begränsningar mot användare som går emot medlemslandets förpliktelser att upprätthålla grundläggande mänskliga rättigheter." - Nils Muižnieks, Europarådets kommissionär för mänskliga rättigheter
                            {% end %}
                        </a>
                    </div>
                    <div id="collapseR3C3" class="collapse">
                        {% if day <= 6 %}
                        <div class="card-body">
                            ”Oskyldig tills motsatsen bevisats” sägs vara en viktig princip i rättsstaten. Med datalagring behandlas vi alla dock som misstänkta. Bevis mot oss samlas in dagligen för att sedan kunna användas av myndigheter, utifall att vi en dag skulle begå ett brott.
                            <br/>
                            <br/>
                            Våra mänskliga rättigheter kränks på ett sätt som utanför datalagringslagen aldrig skulle accepteras av det svenska rättssystemet.
                            <br/>
                            <br/>
                            Att vi dessutom inte blir informerade om när och vilka metadata som samlats in om våra aktiviteter, går helt emot det mest fundamentala i vår demokrati; våra mänskliga rättigheter.
                            <br/>
                            <br/>
                            Känsliga uppgifter om våra privatliv blir plötsligt tillgängliga för underrättelseverksamhet och du står maktlös. Mängden onödig data som samlas in och lagras i serverlandskap blir även ett mål för hackare som kan kapa din identitet.
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 2em;">
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR4C1">
                            <h4>Dag 11
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= 5 %}
                            <img class="card-icon" src="{{ static_url('images/eulock.jpg') }}" alt="EU-domstolen" />
                            "Domstolen slog i avgörandet fast att [datalagrings]direktivet innebar ett långtgående och synnerligen allvarligt ingrepp i rätten till privatliv och skyddet av personuppgifter." - SOU 2017:75 (Datalagring - brottsbekämpning och integritet)
                            {% end %}
                        </a>
                    </div>
                    <div id="collapseR4C1" class="collapse">
                        {% if day <= 5 %}
                        <div class="card-body">
                            EU-domstolen slog 2016 fast att den svenska datalagringslagen utgjorde ett synnerligen allvarligt ingrepp i medborgarnas rätt till privatliv och skydd av personuppgifter. Sverige ålades att omedelbart sluta med detta angrepp på våra mänskliga rättigheter.
                            <br/>
                            <br/>
                            Trots detta inför Sverige den 1 oktober en ny datalagringslag. Den skiljer sig bara ytligt från den tidigare, som alltså dömdes ut av EU-domstolen för bara tre år sedan.
                            <br/>
                            <br/>
                            Lagen säger att brottsbekämpande myndigheter får ta hjälp av datalagring för att ”kartlägga individer som utgör en fara för samhället,”. Men genom den datalagringslag som införs 1 oktober övervakas alla svenskar och behandlas som om vi utgör en fara för samhället.
                            EU-rätten säger nej till generell datalagring men medger att den får användas om det är strängt nödvändigt för att utreda grova brott eller skydda allmän säkerhet.
                            Vad vi nu efter lång tid med datalagring kan konstatera bortom rimligt tvivel är att det inte är något som är strängt nödvändigt för att utreda grova brott. Det finns inga studier som påvisar någon sådant effektivitet. När svenska regeringen ska försöka visa hur effektiv datalagringen minsann är hänvisar man till förhoppningar från 2005 - innan lagen infördes första gången.
                            <br/>
                            <br/>
                            Det är alltså ett direkt brott mot domslutet från 2016 när Sverige nu återinför datalagring och sålunda ett “långtgående och synnerligen allvarligt ingrepp i rätten till privatliv och skyddet av personuppgifter”, för att citera EU-domstolen.
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR4C2">
                            <h4>Dag 12
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= 4 %}
                            <img class="card-icon" src="{{ static_url('images/data.jpg') }}" alt="Metadata" />
                            "De uppgifter som leverantörerna är skyldiga att lagra kan sammantagna göra det möjligt att dra mycket precisa slutsatser om privatlivet för de personer vilkas uppgifter har lagrats. EU-domstolen konstaterar att man bland annat kan kartlägga deras vanor i vardagslivet, deras stadigvarande och tillfälliga uppehållsorter, deras dagliga förflyttningar och förflyttningar i övrigt, de aktiviteter de utövar, deras sociala relationer och de umgängeskretsar de rör sig i." - Anti Avsan, riksdagsledamot Moderaterna
                            {% end %}
                        </a>
                    </div>
                    <div id="collapseR4C2" class="collapse">
                        {% if day <= 4 %}
                        <div class="card-body">
                            ”Storebror ser dig” är ett uttryck som myntats efter George Orwells roman ”1984.” Redan när han skrev den 1948 fanns oron att samhällets styrande organ skulle få mer och mer inflytande över medborgarna genom total övervakning. Att vara övervakad 24/7 med vetskapen om att myndigheter när som helst kan använda de uppgifter som samlats in emot dig är Orwellskt, minst sagt.
                            <br/>
                            <br/>
                            Du försöker skydda ditt privatliv från obehöriga, men är du medveten om att allt du gör och säger när du är uppkopplad blir registrerat och lagrat? Helt enligt Svea Rikes Lag blir besöket hos din läkare, webbsidan du läste igår, promenaden du tog i parken dokumenterat för eventuellt framtida bruk av statliga myndigheter. Du förlorar din anonymitet. Dina dagliga aktiviteter övervakas, din umgängeskrets dokumenteras. Varje steg du tar så ser de dig.
                            <br/>
                            <br/>
                            Så ska inte ett fritt samhälle se ut!
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR4C3">
                            <h4>Dag 13
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= 3 %}
                            <img class="card-icon" src="{{ static_url('images/privacylost.jpg') }}" alt="Privatlivet går förlorat" />
                            "I cannot imagine a more "indiscriminate" and "arbitrary invasion" than this systematic and high-tech collection and retention of personal data on virtually every citizen." - Richard Leon, federal domare i USA
                            {% end %}
                        </a>
                    </div>
                    <div id="collapseR4C3" class="collapse">
                        {% if day <= 3 %}
                        <div class="card-body">
                            National Security Agency - NSA - har världens största digitala övervakningsapparat. De har mest information i hela världen om var människor befinner sig, hur de beter sig, vem de pratar med och så vidare.
                            <br/>
                            <br/>
                            Trots deras enorma massövervakningsprogram så finns det alltså ingen evidens för att det någonsin varit snabbare att använda informationen från dessa program än från traditionell riktad spaning vid terrorattacker.
                            <br/>
                            <br/>
                            Massövervakning är helt enkelt väldigt ineffektiv brottsbekämpning, vare sig det rör sig om NSA:s enorma övervakningsapparat eller den svenska datalagringslagen.
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 2em;">
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR5C1">
                            <h4>Dag 14
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= 2 %}
                            <img class="card-icon" src="{{ static_url('images/rattsakerhet.jpg') }}" alt="Rättsäkerhet" />
                            "Det är svårt att tolka inrikesministerns uttalanden på annat sätt än att han har haft som syfte att förmå teleoperatörna att gå vid sidan av rättsordningen." - Anti Avsan, riksdagsledamot Moderaterna
                            {% end %}
                        </a>
                    </div>
                    <div id="collapseR5C1" class="collapse">
                        {% if day <= 2 %}
                        <div class="card-body">
                            Inrikesminister Mikael Damberg (S) försökte under våren 2019 flera gånger skuldbelägga internetleverantörer för deras ovilja att datalagra efter att EU-domstolen bedömt det som olagligt. På så sätt försökte han få dem att frivilligt lämna ut uppgifter om sina kunder. Han anklagade leverantörer som vägrade, i synnerhet Bahnhof, för att skydda brottslingar genom att vägra datalagra. Trots att de bara lyder rådande lag.
                            <br/>
                            <br/>
                            Han framförde även vad som kan ses som ett direkt hot mot Bahnhof om att Post- och Telestyrelsen kan dra in deras tillstånd att leverera internet ifall de inte börjar datalagra. När ett möte med myndigheter och internetleverantörer arrangerades avDamberg ville Karlung, VD för Bahnhof, ta med en jurist, men detta sade regeringen nej till.
                            <br/>
                            <br/>
                            Att skydda vår integritet är inte samma sak som att skydda brottslingar. Att lyda lagen är inte samma sak som att skydda brottslingar. Vad Bahnhof gjort borde hyllas, snarare än fördömas.
                            <br/>
                            <br/>
                            Att vår inrikesminister velat förmå andra aktörer att kringgå rådande rättsläge för att - enligt EU-domstolen - kunna fortsätta med långtgående övergrepp på våra grundläggande rättighet till privatliv, det är upprörande och skrämmande.
                            <br/>
                            <br/>
                            Var är Dambergs respekt för rättsstaten?
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR5C2">
                            <h4>Dag 15
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= 1 %}
                            <img class="card-icon" src="{{ static_url('images/shady.png') }}" alt="Tjuv" />
                            "Because of the utter lack of evidence that a terrorist act has ever been prevented because searching the NSA database was faster than other investigative tactics – I have serious doubts about the efficacy of the metadata collection program" - Richard Leon, federal domare i USA
                            {% end %}
                        </a>
                    </div>
                    <div id="collapseR5C2" class="collapse">
                        {% if day <= 1 %}
                        <div class="card-body">
                            National Security Agency - NSA - har världens största digitala övervakningsapparat. De har mest information i hela världen om var människor befinner sig, hur de beter sig, vem de pratar med och så vidare.
                            <br/>
                            <br/>
                            Trots deras enorma massövervakningsprogram så finns det alltså ingen evidens för att det någonsin varit snabbare att använda informationen från dessa program än från traditionell riktad spaning vid terrorattacker.
                            <br/>
                            <br/>
                            Massövervakning är helt enkelt väldigt ineffektiv brottsbekämpning, vare sig det rör sig om NSA:s enorma övervakningsapparat eller den svenska datalagringslagen.
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR5C3">
                            <h4>Dag 16
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= 0 %}
                            <iframe style="width: 100%; min-height: 200px; border: none;" src="https://www.youtube-nocookie.com/embed/KnRMxaQINYc" allowfullscreen></iframe>
                            {% end %}
                        </a>
                    </div>
                    <div id="collapseR5C3" class="collapse">
                        {% if day <= 0 %}
                        <div class="card-body">
                            Att säga att du inte bryr dig om rätten till ett privatliv för att du inte har något att dölja är samma sak som att säga att du inte bryr dig om yttrandefrihet för att du inte har något att säga. Andra människor befinner sig inte alltid i samma situation som du. Vissa har saker som de av legitima skäl vill dölja från samtida och framtida regeringar - och vilken rätt har du att förneka dem denna möjlighet?
                            <br/>
                            <br/>
                            Ett skyddat privatliv ger utrymme för människor att experimentera och prova sig fram i livet, utan rädsla för hån eller reprimander.
                            <br/>
                            <br/>
                            Människor sjunger i duschen för att de vill prova sin sångröst utan att andra ska döma och skratta. De köper sexleksaker i diskreta postpaket för att experimentera med sin sexualitet utan att bli dömda som omoraliska avvikare. Personer som aldrig förut engagerat sig politiskt skriver anonymt till partier och undrar hur de kan hjälpa till utan att röja sina sympatier.
                            <br/>
                            <br/>
                            Varje individ har en rätt till ett skyddat privatliv, för att vi ska kunna utvecklas som samhälle.
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 2em;">
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR6C1">
                            <h4>Dag 17
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= -1 %}
                            <img class="card-icon" src="{{ static_url('images/mab.jpg') }}" alt="Mattias Bjärnemalm" />
                            "Istället för att yra om datalagring borde vår inrikesminister fundera på vad som egentligen ligger bakom Polisens fallande resultat." - Mattias Bjärnemalm, Piratpartiets toppkandidat i EU-valet 2019
                            {% end %}
                        </a>
                    </div>
                    <div id="collapseR6C1" class="collapse">
                        {% if day <= -1 %}
                        <div class="card-body">
                            1 oktober trädde en ny lag om datalagring i kraft i Sverige. Lagen innebär att samtliga svenskar ska övervakas genom att man ska spara information om var människor är när de kopplar upp sig med sin mobil, vilka hemsidor man besöker, vilka personer man ringer, och så vidare.
                            <br/>
                            <br/>
                            Motståndarna till lagen - bland dem vi pirater, men också FN:s råd för mänskliga rättigheter och EU-domstolen - menar att lagen utgör ett för stort ingrepp i medborgarnas rätt till privatliv. Företrädarna - samtliga riksdagspartier utom Vänsterpartiet - menar istället att datalagring är två saker, nämligen (1) nödvändigt för att utreda grova brott, och (2) inte så farligt, eftersom det bara är metadata som samlas in.
                            <br/>
                            <br/>
                            Låt mig gå på det senare påstående först, så återkommer vi till frågan om datalagringens effektivitet.
                            <br/>
                            <br/>
                            Att det bara är metadata som samlas in genom datalagring innebär att vad som sägs i ett telefonsamtal inte avlyssnas, utan “bara” vilka som pratar, hur länge de pratar med varandra och var personerna befinner sig. Innehållet av e-post meddelanden ska inte lagras, utan endast vem som mailar med vem, när, och varifrån.
                            <br/>
                            <br/>
                            Det låter kanske inte så farligt, men att systematiskt samla in metadata på detta sätt ger närmast fullständig kunskap om en människas liv. Utifrån den här typen av information kan man dra slutsatser om t.ex. medicinska tillstånd - har du ringt vårdcentralen, surfat på 1177 och pratat med din familj samma dag? - finansiell situation, sexuell läggning, politisk åskådning och mycket mer.
                            <br/>
                            <br/>
                            CIA tar beslut om att döda personer med drönare baserat enbart på metadata, bekräftat av Michael Hayden, tidigare chef för både CIA och NSA, eftersom det ger så precis information.
                            <br/>
                            <br/>
                            Många anser att allvarliga ingrepp i människors privatliv kan ursäktas om det i gengäld leder till förbättrad möjlighet att förebygga och utreda grova brott. Problemet med generell datalagring är att vi inte vet om det faktiskt hjälper polisen förebygga och utreda brott.
                            <br/>
                            <br/>
                            Vi har haft olika former av datalagringslagar i Europa sedan 2006. Trots det har ingen enda studie i något medlemsland kunnat ta fram goda bevis för att det faktiskt lett till förbättrad brottsbekämpning.
                            <br/>
                            <br/>
                            Den nya datalagringslagen trädde i kraft 1:a oktober 2019. I regeringens utredningsunderlag argumenterar man för metoden genom att hänvisa till en studie om datalagring som EU-kommissionen släppte 2005, innan lagen ens trätt i kraft! Så svag är deras argumentation. Att de starkaste argument de kan föra fram för datalagring är anekdoter från enskilda poliser är väldigt talande.
                            <br/>
                            <br/>
                            Istället för att begå allvarliga ingrepp i alla svenskars privatliv, utan att det bevisligen ger något värde tillbaka till dem, borde regeringen fokusera på metoder för brottsbekämpning som fungerar. Sverige har till exempel bland EU:s lägsta polistäthetsgrader - 203 poliser per 100 000 invånare jämfört med snittet på 318.
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 spacer">
                <div class="card">
                    <div class="card-header">
                        <a style="text-align: center;" data-toggle="collapse" href="#collapseR6C2">
                            <h4>Dag 18
                                <br/>
                                <br/>
                            </h4>
                            {% if day <= -2 %}
                            <img class="card-icon" src="{{ static_url('images/katarina.jpeg') }}" alt="Katarina Stensson" />
                            "Övervakningssamhället har sålts in som ett sätt att öka vår trygghet och säkra våra rättigheter, men allt det gett oss är slöseri med resurser, ett urholkat privatliv och otrygghet. Det är dags att riva övervakningssamhället." - Katarina Stensson, tillträdande partiledare för Piratpartiet
                            {% end %}
                        </a>
                    </div>
                    <div id="collapseR6C2" class="collapse">
                        {% if day <= -2 %}
                        <div class="card-body">
                            Den 1 oktober återinförs datalagring i Sverige. Trots att vi inte är misstänkta för brott ska nu data om var vi befinner oss, vilka vi pratar med och vilka hemsidor vi besöker åter samlas in om alla oss svenskar. Det här är information så känslig att man med hjälp av den kan kartlägga en människas liv i detalj. Forskare på Stanford har till exempel kunnat visa att man med hjälp av information om vem som ringt vem, när och var, kan dra långtgående slutsatser om till exempel hälsoproblem och finansiella situationer.  Med en tidigare chefsjurist på NSA:s ord: “Metadata berättar definitivt allt om någons liv”. 
                            <br/>
                            <br/>
                            Eftersom datalagring utgör ett så grovt intrång i människors rätt till ett privatliv så har FN upprepade gånger uppmanat stater att undvika dylika lagar, eftersom de varken är nödvändiga eller proportionerliga.
                            <br/>
                            <br/>
                            EU-domstolen avgjorde 2016 att datalagring utgör ett så allvarligt ingrepp i privatlivet att det är olagligt i EU, eftersom det bryter mot stadgan om grundläggande rättigheter. Lagar om generell datalagring utgör ett så allvarligt ingrepp i medborgarnas rätt till privatliv och dataskydd att medlemsländer i EU är förbjudna att stifta dem. Domstolen var tydlig med varför generell datalagring inte kan tillåtas: övervakningen får inte riktas mot allt och alla, hela tiden, utan måste begränsas till att användas mot en riktad personkrets under begränsad tid.
                            <br/>
                            <br/>
                            Trots detta valde riksdagens partier, med undantag för Vänsterpartiet, att i början av sommaren rösta igenom en ny datalagringslag som träder i kraft den 1 oktober, som likt den upprivna lagen gäller allt och alla. På så sätt kastar man inte bara vår rätt till privatliv på sophögen, utan också rättsstatens princip om att även regeringen behöver följa lagen.
                            <br/>
                            <br/>
                            Om våra riksdagspartier inte anser rätten till privatliv vara en grundläggande rättighet borde de arbeta för en ändring av stadgan om grundläggande rättigheter i EU, istället för att bryta mot stadgan genom att återinföra generell datalagring. Och vill de inte att EU-domstolen ska stå över regeringen borde de arbeta för ett utträde ur EU.
                            <br/>
                            <br/>
                            Våra riksdagspartier verkar dock för fega för att vara ärliga med att man egentligen - uppenbarligen - vill göra detta. De väljer istället att vara hycklare. Vi pirater anser däremot att varken rätten till privatliv eller rättstatens principer kan förhandlas bort om vi menar allvar med att Sverige ska vara ett fritt och demokratiskt samhälle.
                            <br/>
                            <br/>
                            Vi lever i en tid av stora samhällsförändringar med många orosmoment, men vi skapar inte trygghet genom att bryta ner våra grundläggande rättigheter, utan genom att stärka dem.
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center" style="margin-top: 3em;">
            <div class="col-sm">
                <a style="color: #eee;" href="https://blipirat.nu"><img src="{{ static_url('images/Lila-Logotyp.png') }}" width="179" height="183" alt="Piratpartiets logotyp" /><br/><h2>blipirat.nu</h2></a>
            </div>
        </div>
        <div class="row text-center" style="margin-top: 3em;">
            <div class="col-lg">
                <h1 class="headline">SE MER</h1>
            </div>
        </div>
        <div class="row" style="margin-top: 2em;">
            <div class="col-lg justify-content-center">
                <iframe style="display: block; margin: auto; width: 50vw; height: 28.125vw; border: none;" src="https://www.youtube-nocookie.com/embed/OE-EtVmV-WQ?rel=0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 2em;">
            <div class="col-sm text-center social-icon">
                <a href="https://piratpartiet.se"><img class="img-fluid" src="{{ static_url('images/network.svg') }}" alt="piratpartiet.se"></a>
            </div>
            <div class="col-sm text-center social-icon">
                <a href="https://www.facebook.com/piratpartiet/"><img class="img-fluid" src="{{ static_url('images/facebook.svg') }}" alt="Piratpartiets facebook"></a>
            </div>
            <div class="col-sm text-center social-icon">
                <a href="https://twitter.com/piratpartiet"><img class="img-fluid" src="{{ static_url('images/twitter.svg') }}" alt="Piratpartiets twitter"></a>
            </div>
            <div class="col-sm text-center social-icon">
                <a href="https://www.youtube.com/channel/UClma87AA0_8eHXOV6iSA28g"><img class="img-fluid" src="{{ static_url('images/youtube.svg') }}" alt="Piratpartiets Youtube"></a>
            </div>
            <div class="col-sm text-center social-icon">
                <a href="https://www.instagram.com/piratpartietofficial/"><img class="img-fluid" src="{{ static_url('images/instagram.svg') }}" alt="Piratpartiets Instagram"></a>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 2em; margin-bottom: 2em;">
            <div class="col-lg text-center">
                <a href="https://piratpartiet.se"><img class="img-fluid" src="{{ static_url('images/Standard_liggande_medvittext.svg') }}" alt="Piratpartiet"></a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg text-center">
                <p>The art in the calender comes from <a href="https://pixabay.com/" target="_blank" rel="noopener">Pixabay</a> and is used under the license: <a href="https://pixabay.com/service/license/" title="Pixabay License" target="_blank" rel="noopener">Pixabay License</a></p>
                <p>The social media icons, (not the pirate ones), are made by Freepik, downloaded from <a href="https://flaticon.com">www.flaticon.com</a> and is licensed and used under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" rel="noopener">CC 3.0 BY</a></p>
            </div>
        </div>
    </div>
    <script src="{{ static_url('main.js') }}"></script>
    <script src="{{ static_url('external/jquery-3.3.1.slim.min.js') }}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"></script>
    <script src="{{ static_url('external/popper.min.js') }}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"></script>
    <script src="{{ static_url('external/bootstrap.min.js') }}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"></script>
</body>
</html>